@import '@styles';

@keyframes shake {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}

.container {
    @include centered;
    flex: 1;
    border: 1px solid $border;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 3.2rem;
    color: $font-primary;
    user-select: none;
    cursor: pointer;

    animation-duration: 600ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-play-state: paused;

    &:hover {
        animation-play-state: running;
        animation-name: shake;
    }

    &.empty {
    }
    &.no_match {
        color: $font-secondary;
    }
    &.direct_match {
        color: $success;
    }
    &.indirect_match {
        color: $warning;
    }
}
