@import '@styles';

.container {
    @include centered;
    @include border;
    @include clickable;

    flex: 1;

    font-size: 3.5rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: $font-primary;
    text-shadow: 1px 1px 2px $shadow;

    &.active:empty {
        &::before {
            content: '|';

            font-size: 2.25rem;
            font-weight: 600;

            animation: 1.35s blink step-end infinite;
        }
    }

    &.no_match {
        background-color: $disabled;
        border-color: transparent;
    }

    &.match {
        background-color: $success;
        border-color: transparent;
    }

    &.close_match {
        background-color: $warning;
        border-color: transparent;
    }

    &.flip {
        animation: flip 750ms 1 linear;
    }

    &.pulse {
        @include animation-remove-delay;
        animation: pulse 100ms 1 ease-in-out;
    }

    &.shake {
        @include animation-remove-delay;
        @include animation-shake;
    }
}
