@import '@styles';

.container {
    display: grid;
    grid-template-areas:
        'escape q w e r t y u i o p backspace'
        '. . a s d f g h j k l enter'
        '. . . z x c v b n m . .';
    gap: 1.25rem;
}

.row {
    display: contents;
    &.row-1 {
        & > * {
            margin-left: -50%;
            margin-right: 50%;
        }
    }
    &.row-2 {
        & > * {
            margin-left: -100%;
            margin-right: 100%;
        }
    }
}
