@import '@styles';

.container {
    display: grid;
    grid-template-areas:
        'escape q w e r t y u i o p backspace'
        '. . a s d f g h j k l enter'
        '. meta meta z x c v b n m . .';
    gap: 1.25rem;
}
