@import '@styles';

.container {
    display: grid;
    grid-template-areas:
        'escape q w e r t y u i o p backspace'
        '. . a s d f g h j k l enter'
        '. . . z x c v b n m . .';
    column-gap: 1.25cqw;
    row-gap: 1.75cqw;
    grid-auto-columns: 1fr;
    width: 100%;

    .row {
        display: contents;
        &.row-1 {
            & > * {
                margin-left: -50%;
                margin-right: 50%;
            }
        }
        &.row-2 {
            & > * {
                margin-left: -100%;
                margin-right: 100%;
            }
        }
    }

    @media screen and (max-width: 650px) {
        grid-template-areas:
            'q w e r t y u i o p'
            'a s d f g h j k l backspace'
            'z x c v b n m enter enter enter';

        column-gap: 1.75cqw;
        row-gap: 3.5cqw;

        & .row {
            &.row-1,
            &.row-2 {
                & > * {
                    margin: unset;
                }
            }
        }
    }
}
