@import '@styles';

.container {
    @include view;

    & .board {
        flex: 6;
    }

    & .keyboard {
        flex: 4;
    }

    @media screen and (max-width: 700px) {
        & .board {
            flex: 4;
        }

        & .keyboard {
            flex: 4;
        }
    }
}
