@import '@styles';

.container {
    @include view;

    & .title {
        font-size: 3rem;
        text-align: center;
        margin: 0;
    }

    & .board {
        flex: 6;
    }

    & .keyboard {
        flex: 4;
    }
}
