//$white: white;
$white: #cfcfcf;
$black: #101010;
$lightblack: #10101020;

$green: #538d4e;

$yellow: #b59f3b;

$gray: #3a3a3c;
$lightgray: #818384;

$font-primary: $white;

$border: $gray;
$disabled: $gray;
$shadow: $lightblack;

$success: $green;
$warning: $yellow;

$background-primary: $black;
$background-secondary: $gray;
