@font-face {
    font-family: 'rubik';
    src: url('../../assets/fonts/rubik.ttf') format('ttf');
}

@font-face {
    font-family: 'nytimes';
    src: url('../../assets/fonts/nytimes.woff2') format('woff2');
}
