@function colorShade($color, $percentage) {
    @if $percentage > 0 {
        @return lighten($color, $percentage);
    } @else if $percentage < 0 {
        @return darken($color, -$percentage);
    } @else {
        @return $color;
    }
}

@function makeTransparent($hex, $opacity) {
    $red: red($hex);
    $green: green($hex);
    $blue: blue($hex);

    @return rgba($red, $green, $blue, $opacity);
}
