@import 'colors';

@mixin centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin view {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 3rem;
}

@mixin border {
    border: 2px solid $border;
}

@mixin clicked {
    //opacity: 0.9;
}

@mixin clickable {
    user-select: none;
    cursor: pointer;
    &:hover {
        @include clicked;
    }
}

@mixin animation-shake {
    animation: shake 150ms 1 ease-in-out alternate;
}

@mixin animation-remove-delay {
    transition-delay: unset !important;
    animation-delay: unset !important;
}

@mixin font-wordle {
    font-family: 'nytimes', 'Rubik', sans-serif;
}
