@import 'colors';

@mixin centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin view {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 3rem;

    @media screen and (max-width: 650px) {
        padding-inline: 1.5rem;
    }
}

@mixin border {
    border: 2px solid $border;
}

@mixin clicked {
    //opacity: 0.9;
}

@mixin clickable {
    user-select: none;
    cursor: pointer;
    @include hover {
        @include clicked;
    }
}

@mixin animation-pulse {
    animation: pulse 100ms 1 ease-in-out;
}

@mixin animation-pulse-small {
    animation: pulse-small 100ms 1 ease-in-out;
}

@mixin animation-jump {
    animation: jump 1.25s infinite ease-out;
}

@mixin animation-shake {
    animation: shake 150ms 1 ease-in-out alternate;
}

@mixin animation-flip {
    animation: flip 750ms 1 linear;
}

@mixin animation-blink {
    animation: 1.35s blink step-end infinite;
}

@mixin animation-delay-unset {
    transition-delay: unset !important;
    animation-delay: unset !important;
}

@mixin animation-iteration-count-infinite {
    animation-iteration-count: infinite;
}

@mixin font-primary {
    font-family: 'rubik', sans-serif;
}

@mixin font-secondary {
    font-family: 'nytimes', 'rubik', sans-serif;
}

@mixin without-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    /* Chrome, Safari and Opera */
    &::-webkit-scrollbar {
        display: none;
    }
}

@mixin hover {
    @media (hover: none) {
        &:active {
            @content;
        }
    }

    @media (hover: hover) {
        &:hover {
            @content;
        }
    }
}
