@import '@styles';

.container {
    @include centered;
    @include border;

    position: relative;
    z-index: 1;

    border-top: unset;
    border-left: unset;
    border-right: unset;

    user-select: none;

    & .title {
        @include font-secondary;
        font-size: 3.5rem;
        line-height: 3.5rem;
        text-align: center;
        margin: 0;
    }
}
