@import '@styles';

.container {
    @include view;
    @include centered;

    position: absolute;
    height: 100%;
    width: 100%;

    background-color: $background-primary;
    animation: fadeInBackground 600ms forwards;

    .text {
        z-index: 1;

        padding: 2rem;

        font-size: 6.5rem;
        line-height: 9rem;
        font-weight: 700;
        text-align: center;
        color: $font-primary;
        user-select: none;
    }
}

// @TODO added quickly
@keyframes fadeInBackground {
    0% {
        background-color: makeTransparent($background-primary, 0.1);
    }
    100% {
        background-color: $background-primary;
    }
}
