@import '@styles';

.container {
    @include clickable;

    position: relative;
    padding: 1.25rem 1.75rem;

    color: $font-primary;
    background-color: $black;
    box-shadow: 1px 1px 3px $gray;

    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;

    border: 1.5px solid transparent;
    border-radius: 0.5rem;

    transform-style: preserve-3d;
    transition:
        100ms cubic-bezier(0, 0, 0.6, 1),
        background-color,
        border-color,
        color 100ms;

    &::before {
        content: '';

        position: absolute;
        inset: 0;

        width: 100%;
        height: 100%;

        box-shadow: 1px 1px 3px $gray;
        border-radius: 0.5rem;

        transform: translate3d(0.5rem, 0.5rem, -1rem);
        transition: 100ms cubic-bezier(0, 0, 0.6, 1);
    }

    &:not([disabled]) {
        &:hover,
        &:focus {
            outline: unset;
            border-color: unset;
        }
    }

    &[disabled] {
        outline: unset !important;
        border-color: transparent !important;
        cursor: default;
    }

    &.static {
        cursor: default;

        &::before {
            content: unset;
        }
    }

    &.match {
        background-color: $success;
        border-color: $success;
    }

    &.close_match {
        background-color: $warning;
        border-color: $warning;
    }

    &.no_match {
        background-color: $disabled;
        color: $lightgray;
        border-color: $disabled;
    }

    &:is(.match, .close_match, .no_match) {
        &::before {
            background-color: inherit;
            opacity: 0.25;
        }
    }

    &.pulse {
        @include animation-pulse;
        animation-duration: 250ms;

        &::before {
            content: unset;
        }
    }

    &.shake {
        @include animation-shake;
    }

    &.half_click {
        transform: translate(0.25rem, 0.25rem);

        &::before {
            transform: translate3d(0.25rem, 0.25rem, -1rem);
        }
    }

    &.click {
        transform: translate(0.5rem, 0.5rem);
        border-color: unset;

        &::before {
            transform: translate3d(0, 0, -1rem);
        }
    }

    // @TODO is-large-key needed?
    @media screen and (max-width: 1080px) {
        &[data-is-large-key='true'] {
            //display: none;
            //font-size: 0;
            //width: 5px;
        }
    }

    @media screen and (max-width: 700px) {
        padding: 1.75rem 1rem;
    }

    @media screen and (max-width: 450px) {
        padding: 1rem 0.75rem;
        font-size: 1.5rem;
        &:before {
            content: unset;
        }
        &:is(.click, .half_click) {
            transform: unset;
        }
    }

    @media screen and (max-width: 370px) {
        font-size: 1.25rem;
    }
}
